{% extends 'base.html' %}

{% block header %}

   <h1>{% block title %}<center>Order</center>{% endblock %}</h1>
  <ul class="buttonTopRight">
    {% if g.user %}
      {{ g.user[4] }}
      <br/>
      <a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <a href="{{ url_for('auth.login') }}">Log In</a>
      <br/>
      <a href="{{ url_for('auth.register') }}">Register</a>

    {% endif %}
  </ul>
    <!-- <button class="buttonTopRight">User: {{g.user[4]}}</button> -->
  <ul class="action-button1" > <a href="{{ url_for('mainpage.index') }}">Main page</a></ul>

{% endblock %}

{% block content %}

  {% for post in posts %}
    <center>
    <article>
      <header>
        <div>
          <h1>{{ post[1] }}</h1>
          <div class="about">Quantity:  {{ post[5] }} <br/>Item ID: {{ post[0] }} <br/>AND ITEM MEDIA PATH: {{post[2]}}</div>
          <center>
          <button class="buttonBasket1"><a href="{{ url_for('order.deleteRecord') }}?item_ID={{post[0]}}">DELETE THIS RECORD!</a></button>
          <button class="buttonBasket1"><a href="{{ url_for('order.reduceQuant') }}?item_ID={{post[0]}}">Reduce quantity!</a></button>
          <button class="buttonBasket1"><a href="{{ url_for('order.addQuant') }}?item_ID={{post[0]}}">Add quantity!</a></button>
            </center>

        </div>

      </header>

    </article>
    <img src="{{ url_for('static', filename=post[2]) }}"/>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
      <form action="{{ url_for('order.orderDone') }}">
        <label for="fname">First Name</label> <br/>
        <input type="text" id="fname" name="fname"> <br/>
        <label for="lname">Last Name</label> <br/>
        <input type="text" id="lname" name="lname"> <br/>
        <label for="country">Country</label> <br/>
        <input type="text" id="country" name="country"> <br/>
        <label for="city">City</label> <br/>
        <input type="text" id="city" name="city"> <br/>
        <label for="street">Street</label> <br/>
        <input type="text" id="street" name="street"> <br/>
        <label for="state">State</label> <br/>
        <input type="text" id="state" name="state"> <br/>
        <label for="pcode">Postal Code</label> <br/>
        <input type="text" id="pcode" name="pcode"> <br/>
        <input type="submit" value="Submit Order!">
      </form>

      </center>
{% endblock %}