{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Items{% endblock %}</h1>
  <ul class="buttonTopRight">
    {% if g.user %}
      {{ g.user[4] }}
      <br/>
      <a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <a href="{{ url_for('auth.login') }}">Log In</a>
      <br/>
      <a href="{{ url_for('auth.register') }}">Register</a>

    {% endif %}
  </ul>
    <!-- <button class="buttonTopRight">User: {{g.user[4]}}</button> -->
    <ul class="action-button1 " > <a href="{{ url_for('mainpage.index') }}">Main page</a></ul>
    <ul class="buttonOrder" > <a href="{{ url_for('order.order') }}?user_ID={{data['user'][0]}}">Make Order</a></ul>
    <ul class="buttonBasket"> <a href="{{ url_for('order.basket') }}?user_ID={{data['user'][0]}}">Check basket</a> </ul>

{% endblock %}

{% block content %}
  <center>
  <div class="dropdown">
  <button class="dropbtn">Categories</button>
  <div class="dropdown-content">
    {% for category in data['categories'] %} <a href="{{ url_for('mainpage.index')}}?category_ID={{category[0]}}">{{category[1]}}</a>  {% endfor %}
  </div>
</div>
    </center>

  {% for post in data['posts'] %}
    <center>
    <article>
      <header>
        <div>
          <h1><a href="{{ url_for('mainpage.item')}}?item_ID={{post[0]}}">{{ post[1] }}</a></h1>
          <div class="about">In stock:  {{ post[2] }} <br/>Item ID: {{ post[0] }} <br/></div>

        </div>

      </header>

    </article>
    <img src="{{ url_for('static', filename=post[3]) }}"/>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
      </center>
{% endblock %}