{% extends 'base.html' %}

{% block header %}
  {% for item in data['item'] %}


  {% endfor %}


  <hr>

    <!-- Header Section Start -->
    <div class="header-section section">
 <!-- Header Top Start -->
        <div class="header-top">
            <div class="container1">
                <div class="row">
                    <div class="col">


<!-- Header Top Wrapper Start -->
                        <div class="header-top-wrapper">
                            <div class="row">
							<div class="col-md-4 col-12"></div>
                                <!-- Header Logo -->
                                <div class="header-logo col-md-4 col-12">
                                    <a href="{{ url_for('mainpage.index') }}" class="logo"><img src="{{ url_for('static', filename='logo.jpg') }}" alt="logo"></a>
                                </div>
							<div class="col-md-4 col-12"></div>
                      </div>
                        </div><!-- Header Top Wrapper End -->

                    </div>
                </div>
            </div>
        </div><!-- Header Top End -->

     <!-- Header Bottom Start -->

        <div class="header-bottom section">
            <div class="container">
                <div class="row">

                    <!-- Header Bottom Wrapper Start -->
                    <div class="header-bottom-wrapper text-center col">

                        <!-- Main Menu -->

                        <nav id="main-menu" class="main-menu">

                            <ul>

                                <li><a href="{{ url_for('mainpage.index') }}">home</a></li>

                              <li class="active">
    {% if g.user %}
      <br/>
      <a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <a href="{{ url_for('auth.login') }}">Log In</a>
      <br/>
      <a class="ML" href="{{ url_for('auth.register') }}">Register</a>

                                  {% endif %}  </li>
                                <li class="active">
                                {% if g.user %}
                                    <a>{{ g.user[4] }} </a>
                                {% endif %}

                                </li> </ul> </nav>


  </ul>




{% endblock %}

{% block content %}
  {% for item in data['item'] %}
    <article class="MT_185">
      <h1 style="text-align: center;">Item: {{item[4]}}</h1>
      <header>

        <div>
          <center>
          <h1>Item description!</h1>
          </center>

        </div>

      </header>

        <div class="about">
          <center>
        <img src="{{ url_for('static', filename=item[6]) }}"/>

        <div class="action-button"><a href="{{ url_for('mainpage.addToBasket') }}?item_ID={{item[3]}}">Add to basket!</a></div>
        </center>
        <div class="prod-description">
          <h4>Item Description</h4>
          <p>Item id: {{item[3]}}</p>
          <p>Category id of the item:  {{ item[0] }}</p>
          <p>The category name: {{ item[1] }}</p>
          <p>Item media path for this item: {{item[6]}}</p>
          <p>Category description: {{item[2]}}</p>
          <p>How many is in stock: {{item[5]}}</p>
          <p>Price for this item is: {{item[7]}}</p>
          </div>




      <div class="about" style="text-align: left;">

        <!--<button class="action-button"><a href="{{ url_for('mainpage.addToBasket') }}?item_ID={{item[3]}}">Add to basket!</a></button>-->
        <h1>Reviews</h1>
        <h1>Average rating: {{data['avg'][0]}}</h1>
        {% for review in data['reviews'] %}
        <p>Review #{{review[1]}}</p>
        Rating: {{review[2]}}<br/><br/>
        "{{review[3]}}"

        {% if not loop.last %}
        <hr>
        {% endif %}
        {% endfor %}

      </div>
      </div>

    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}


